<h1 style="color: rgb(238, 5, 5);
		font-style: italic;">
	Software Engineering Tools Lab 
</h1>
<h3>
	Assignment No-5
</h3>
<h3>
Module 4 & 5- Understanding version control using VSS and Managing code using SVN 
</h3>

<h4>8)	Build a simple web app with Express and Angular. Referance: https://www.geeksforgeeks.org/build-a-simple-web-app-with-expressangular/?ref=rp </h4>

<h5>
	The below message is fetched from the express backend
</h5>
<!-- <p *ngIf="message">
	{{ message.message }}
</p> -->

<p>App Version: {{version}}</p>

<!-- <h2>import { version } from 'path/to/package.json';</h2> -->